@import './colors.scss';

main {
  padding-top: 8px;
}

.card{
  background-color:#fff;
  padding: 6px;
  text-align: center;
  font-size: 1.3em;
  line-height: 1.6em;
  overflow: hidden;

  header{
    figure {
      margin: 0;
      position: relative;
      background-color: #fff;

      img{
        width: 100%;
      }

      figcaption {
        position: absolute;
        bottom: 20px;
        left: 20px;
        text-align: left;

        h3,h4 {
          margin: 0;
          font-weight: 400;
          color: $evident-text02;
        }

        h3 {
          text-transform: uppercase;
          font-size: 30px;
          margin-bottom: 15px;

          small {
            font-size: 18px;
            display: block;
            color: $evident-text01;
            line-height: 1em;
          }
        }

        h4 {
          font-size: 15px;
        }
      }
    }
  }

  h4{
    font-size: 20px;
    font-weight: 400;
    margin: 10px 0;
  }

  a{
    text-transform: uppercase;
    text-decoration: none;
    color: $evident-text01;
  }

  &.inverted {
    color: #fff;
    background: #2A2A2A;

    p{
      color: #fff;
    }
  }
}