@import './colors.scss';

main {
  padding-top: 8px;
}

.card{
  background-color:#fff;
  font-size: 1.3em;
  line-height: 1.6em;
  overflow: hidden;

  a {
    text-decoration: none;
    color: unset;
  }

  header{
    figure {
      margin: 0;
      position: relative;
      background-color: #fff;

      img{
        width: 100%;
      }
    }
  }

  article {
    padding: 30px;

    .category {
      font-size: 14px;
      text-transform: uppercase;
      color: $basic01;
    }

    p {
      font-size: 18px;
      line-height: 25px;
      font-weight: 300;
    }

    h4{
      font-size: 24px;
      font-weight: 400;
      margin: 10px 0 0;
      padding: 0;
    }
  }
}