@media (min-width: 992px) {
  %showLogo {
    height: 37px;
    transform: scale(1);
  }

  %barColor {
    background: rgb(42, 42, 42);
  }

  .no-cover {
    padding-top: 82px;

    header.main {
      @extend %barColor;
    }
  }

  .wrapper.no-cover {
    padding-top: 0;

    header {
      background: rgb(42, 42, 42);
      margin: 0;

      & > .logo{
        @extend %showLogo;
      }
    }
  }

  section.cover{
    padding-top: 0px;
    height: 100vh;

    figure {
      height: 100%;
      overflow: hidden;
      background-size: cover;

      figcaption {
        padding-top: 300px;

        h3{
          font-size: 78px;
          
          small {
            font-size: 52px;
          }
        }

        h4{
          font-size: 30px;
        }

        p {
          font-size: 20px;
          line-height: 27px;
          width: 600px;
        }
      }
    }
    
  }

  header.main{
    display: block;
    background: rgba(20, 20, 20, 0);
    transition: background 1s ease;
    margin: 0;
    padding: 0;

    &.active {
      @extend %barColor;
    }

    .hamburger {
      display: none;
    }

    .wrapper {
      padding: 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    .logo {
      margin-top: 10px;
    }

    nav {
      height: auto;
      position: static;
      background: transparent;

      ul {
        text-align: left;
        margin-top: 0;
        padding-top: 0;

        li {
          display: inline-block;
          margin-right: 30px;

          a{
            font-size: 16px;
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }

  main.evidence {
    column-count: unset;
    display: grid;
    grid-column-gap: 15px;
    grid-template-columns: repeat(2, 1fr);
  }

  main {
    padding-top: 8px;
    column-count: 4;

    .block{
      margin-top: 0;
      break-inside: avoid;
      box-sizing: border-box;
    }

    &.content {
      column-count: unset;

      .wp-block-columns{
        display: grid;
        grid-column-gap: 40px;

        &.has-2-columns {
          grid-template-columns: repeat(2, auto);
        }

        &.has-3-columns {
          grid-template-columns: repeat(3, auto);
        }

        figure {
          padding: 0;
          margin: 0;
        }
      }

      .card {
        padding: 50px;

        section {
          display: grid;
          grid-template-columns: 1fr 300px;
          grid-column-gap: 60px;
        }

        .category {
          font-size: 16px;
          text-transform: uppercase;
          color: $basic01;
          margin-bottom: 20px;
        }

        h3 {
          font-size: 30px;
          font-weight: 400;
        }

        p {
          font-size: 18px;
          line-height: 25px;
        }
      }
    }
  }


  footer {
    & > .wrapper {
      article {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: left;
      } 
    }
  }
}

@media (min-width: 1200px) {
  .wrapper {
    width: 1140px;
    margin: 0 auto;
  }
}