
@import './colors.scss';

$menu-width: 32px;

header {
  $bg: rgb(42, 42, 42);
  position: fixed;
  z-index: 97;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;

  background: $bg;
  // height: 80px;
  // line-height: 80px;
  display: grid;
  padding: 21px 16px;
  grid-template-columns: 1fr $menu-width;

  i.fa-bars {
    font-size: $menu-width;
    color: $evident-text02;
    cursor: pointer;
  }

  nav {
    transition: all 0.35s ease;
    overflow: hidden;
    height: 0;
    position: fixed;
    z-index: 98;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(42, 42, 42, 0.95);

    &.open {
      height: 100%;
    }

    svg {
      display: block;
      margin: 50px auto;
      transform: scale(1.6);
    }

    ul {
      margin: 0;
      padding: 0;
      text-align: center;

      li {
        list-style: none;
        line-height: 3.2em;

        a {
          text-transform: uppercase;
          color: $evident-text02;
          text-decoration: none;
          font-size: 23px;
          transition: all 0.4s ease;
          text-shadow: 0px 0px 5px rgba(0,0,0,0.9);

          &:hover {
            color: $evident-text01;
          }
        }
      }
    }
  }
}

main{
  padding: 90px 8px;

  .card{
    margin: 10px 0;

    &:first-child{
      margin-top: 0;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
}