
@import './colors.scss';
@import './mixins.scss';

$menu-width: 32px;

.wrapper {
  padding-top: 82px;
}

svg.logo{
  cursor: pointer;
}

.wrapper.cover {
  padding-top: 0;

  section.cover{
    display: block;
  }
}

section.cover{
  display: none;
  padding-top: 82px;

  // &.loading {
  //   @extend %optimistic;
  // }

  figure {
    margin: 0;
    position: relative;

    img {
      width: 100%;
      height: 100%;
    }

    svg{
      display: none;
    }

    figcaption {
      position: absolute;
      bottom: 20px;
      left: 20px;
      right: 20px;
      text-align: left;
      color: $evident-text02;

      p {
        color: $evident-text02;
        font-size: 14px;
      }

      h3,h4 {
        margin: 0;
        font-weight: 400;
        color: $evident-text02;
      }

      h3 {
        text-transform: uppercase;
        font-size: 30px;
        margin-bottom: 15px;

        small {
          font-size: 18px;
          display: block;
          color: $evident-text01;
          line-height: 1em;
        }
      }

      h4 {
        font-size: 17px;
      }
    }
  }
}

header {
  $bg: rgb(42, 42, 42);

  position: fixed;
  z-index: 97;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;

  background: $bg;
  // height: 80px;
  // line-height: 80px;
  display: grid;
  padding: 21px 16px;
  grid-template-columns: 1fr $menu-width;

  i.fa-bars {
    font-size: $menu-width;
    color: $evident-text02;
    cursor: pointer;
  }

  nav {
    transition: all 0.35s ease;
    overflow: hidden;
    height: 0;
    position: fixed;
    z-index: 98;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(42, 42, 42, 0.95);

    &.open {
      height: 100%;
    }

    svg {
      display: block;
      margin: 50px auto;
      transform: scale(1.6);
    }

    ul {
      margin: 0;
      padding: 0;
      text-align: center;

      li {
        list-style: none;
        line-height: 3.2em;

        a {
          text-transform: uppercase;
          color: $evident-text02;
          text-decoration: none;
          font-size: 23px;
          transition: all 0.4s ease;
          text-shadow: 0px 0px 5px rgba(0,0,0,0.9);

          &:hover {
            color: $evident-text01;
          }
        }
      }
    }

    ul.socials{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin: 24px 24px 0;

      li {
        text-align: center;

        a {
          $size: 38px;

          margin: 0 auto;
          display: block;
          width: $size;
          height: $size;
          line-height: $size;
          border-radius: 50%;
          border: 1px solid $evident-text02;

          &:hover {
            color: $evident-text02;
          }
        }
      }
    }

    ul.tags {
      li {
        line-height: 1.9em;

        a{
          text-transform: lowercase;
          font-size: 1em;
          color: $evident-text01;
        }
      }
    }

    hr {
      height: 1px;
      border: 0;
      background-color: $evident-text02;
      opacity: 0.4;
      margin: 24px;
    }
  }
}

main.evidence {
  padding-bottom: 0;
}

main{
  padding: 8px 8px 90px;

  .block{
    margin: 15px 0;

    &:first-child{
      margin-top: 0;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }

  &.loading {
    @extend %optimistic;
  }
}

.content{
  rock-back{
    a{
      color: $normal-text;
      text-decoration: none;
      display: inline-block;
      margin: 10px 0;
      font-size: 16pt;
    }
  }

  article{
    text-align: left;

    &.card{
      padding: 20px;
      text-align: left;

      h3{
        font-size: 28pt;
        font-weight: 300;
        color: $constrast01;
      }
    }
    
    &.loading {
      @extend %optimistic;
    }
  }
}


footer {
  p{
    text-align: center;
    padding: 24px;
    line-height: 1.6em;
  }
}