
@import './colors.scss';
@import './mixins.scss';

$menu-width: 26px;

.wrapper {
  padding: 45px 30px; 
}

.no-cover {
  // padding-top: 82px;
  padding-top: 60px;
  
  header.main { 
    @extend %barColor;
  }
}

svg.logo{
  cursor: pointer;
}

.cover {
  padding-top: 0;

  section.cover{
    display: block;
  }
}

section.cover{
  display: none;
  // padding-top: 82px;
  height: 100vh;
  // &.loading {
  //   @extend %optimistic;
  // }

  figure {
    margin: 0;
    position: relative;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    figcaption {
      padding-top: calc(90px + 20%);
      display: block;
      z-index: 5;
      text-align: left;
      color: $evident-text02;

      p {
        color: $evident-text02;
        font-size: 18px;
        line-height: 24px;
      }

      h3, h4 {
        margin: 0;
        font-weight: 400;
        color: $evident-text02;
      }

      h3 {
        text-transform: uppercase;
        font-size: 38px;
        margin-bottom: 30px;

        small {
          font-size: 18px;
          display: block;
          color: $evident-text01;
          line-height: 1em;
        }
      }

      h4 {
        font-size: 22px;
      }
    }
  }
}

header.main {
  $bg: rgba(42, 42, 42, 0);
  
  transition: all 250ms ease;
  position: fixed;
  z-index: 97;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  line-height: 90px;
  background-color: transparent;
  overflow: hidden;

  &.active {
    @extend %barColor;

    height: 60px;
    line-height: 60px;

    nav {
      ul {
        li {
          a {
            text-shadow: none;
          }
        }
      }
    }
  }

  &.open {
    @extend %barColor;

    height: 100% !important;
    background-color: rgba(42, 42, 42, 100);
  }

  &.active {
    // $h: 60px;
    // height: $h;
    // line-height: $h;
  }

  svg {
    vertical-align: middle;
    cursor: pointer;
    max-height: 40px
  }

  .wrapper {
    padding: 0 30px;
  }

  .hamburger {
    outline: none;
    position: fixed;
    right: 30px;
    top: -8px;
    font-size: 26px;
    color: #cccccc;
    cursor: pointer;

    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      background-color: $evident-text02;
    }
  }

  nav {
    z-index: 98;
    // width: 100%;
    left: 0;
    top: 0;

    ul {
      margin: 0;
      padding: 30px 0 0;
      text-align: center;

      li {
        list-style: none;
        line-height: 90px;

        a {
          text-transform: capitalize;
          color: $evident-text02;
          text-decoration: none;
          font-size: 24px;
          transition: all 250ms ease;
          text-shadow: 0px 0px 5px rgba(0,0,0,0.9);

          &:hover {
            color: $evident-text01;
          }
        }
      }
    }
  }
}

.no-cover {

  header.main {
    height: 60px;
    line-height: 60px;
  }
}

main.evidence {
  padding-bottom: 0;
}

main{
  // padding: 8px 8px 90px;

  .block{
    margin: 30px 0;

    &:first-child{
      margin-top: 0;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }

  &.loading {
    @extend %optimistic;
  }
}

.content{
  &.loading {
    @extend %optimistic;
  }

  rock-back{
    a{
      color: $normal-text;
      text-decoration: none;
      display: inline-block;
      margin: 10px 0;
      font-size: 16px;
    }
  }

  &.wrapper, .wrapper {
    padding: 0;
  }

  article{
    text-align: left;

    .alignleft {
      text-align: left;
    }

    .aligncenter {
      text-align: center;
    }

    .alignright {
      text-align: right;
    }

    img {
      max-width: 100%;
      height: auto;
    }

    &.card{
      padding: 30px;
      text-align: left;

      .category {
        font-size: 14px;
        text-transform: uppercase;
        color: $basic01;
        margin-bottom: 30px;
      }

      h3 {
        font-size: 24px;
        line-height: 36px;
        font-weight: 400;
        // color: $constrast01;
        // letter-spacing: 1px;
        margin-bottom: 30px;
      }
    }

    .meta {
      text-align: center;

      img {
        border-radius: 50%;
      }

      h6 {
        font-weight: 400;
        font-size: 18px;
        text-transform: uppercase;
        margin: 5px 0 0;
      }

      p {
        margin-top: 10px;
        font-weight: 300;
        font-size: 18px;
      }
    }
    
    &.loading {
      @extend %optimistic;
    }
  }
}


footer {
  background: $lightGrey;
  font-size: 20px;
  line-height: 30px;

  & > .wrapper {

    article {
      text-align: center;

      div{
        margin-bottom: 30px;
      }
    }
  }
  

  &.credits{
    background: $darkGrey;
    font-size: 16px;
    color: $white;

    .wrapper {

      article {
        display: block;
      }
    }

    figure {
      img {
        display: block;
        margin: 0 auto 20px;
        width: 150px;
      }
    }
    p{
      margin: 0;
      text-align: center;
    }
  }
}



// da inserire in '~hamburgers/_sass/hamburgers/hamburgers.scss'

.hamburger-box {
  width: 30px;
  height: 24px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 30px;
  height: 2px;
  background-color: $black;
  border-radius: 0;
}

.hamburger-inner::before {
  top: -8px;
}

.hamburger-inner::after {
  bottom: -8px;
}

header.main button.hamburger {
  top: -12px;
}