
%barColor {
  background-color: rgb(42, 42, 42);
}

.text-dark {
  color: $black !important;
}

.text-light {
  color: $white !important;
}

// Optimistic UI updates
%optimistic {
  font-family: 'BLOKKRegular';
  animation: optimistic 0.8s infinite alternate ease;
}

@keyframes optimistic {
  from {opacity: 1; }
  to {opacity: 0.5; }
}