@import './colors.scss';
@import './mixins.scss';

$header--height: 90px;
$header-compact--height: 60px;

.wrapper {
  padding: 45px 30px;
}

svg.logo {
  cursor: pointer;
}

.cover {
  padding-top: 0;

  section.cover {
    display: block;
  }
}

button {
  font-size: initial;
  line-height: initial;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.icon {
  width: 24px;
  height: 24px;
  line-height: 24px;
  transition: all .25s ease;
}

.btn {
  border: none;
  border-radius: 22px;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 20px;
  padding: 12px 40px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;

  transition: all .2s ease;
}

button:focus,
.button:hover,
.btn:focus,
.btn:hover {
  outline: 0;
  text-decoration: none;
}

.btn-1 {
  background: $basic01;
  color: $white;
}

.btn-1:hover {
  background: $basic02;
  color: $white;
}

section.cover {
  height: 100vh;

  figure {
    margin: 0;
    position: relative;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    figcaption {
      display: block;
      z-index: 5;
      text-align: left;
      color: $evident-text02;

      .claim {
        padding-top: 25vh;
      }

      h3,
      h2 {
        text-transform: uppercase;
        margin: 0;
        padding: 0;
      }

      h3 {
        font-size: 20px;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: .4px;
        color: $basic01;
      }

      h2 {
        font-size: 30px;
        font-weight: 900;
        line-height: 35px;
        letter-spacing: .4px;
      }

      p {
        font-size: 18px;
        line-height: 24px;
        margin-top: 30px;
        margin-bottom: 0;
      }

      .btn {
        position: relative;
        margin-top: 45px;
        box-sizing: border-box;
        width: 100%;
        min-width: 180px;
      }

      &.wrapper {
        padding: 0 30px;
      }
    }
  }
}

header.main {
  $bg: rgba(42, 42, 42, 0);

  transition: all 250ms ease;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: $header--height;
  line-height: $header--height;
  background-color: transparent;
  overflow: hidden;

  &.active {
    @extend %barColor;

    height: $header-compact--height;
    line-height: $header-compact--height;

    nav {
      ul {
        li {
          a {
            text-shadow: none;
            color: $white !important;
          }
        }
      }
    }

    .hamburger {

      .hamburger-inner,
      .hamburger-inner::before,
      .hamburger-inner::after {
        background-color: $white;
      }
    }
  }

  &.open {
    @extend %barColor;

    height: 100% !important;
    background-color: rgba(42, 42, 42, 100);
  }

  svg {
    vertical-align: middle;
    cursor: pointer;
    max-height: 1000px
  }

  .wrapper {
    padding: 0 30px;
  }

  .hamburger {
    outline: none;
    position: fixed;
    right: 30px;
    top: -8px;
    font-size: 26px;
    color: $black;
    cursor: pointer;

    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      background-color: $black;
    }
  }

  nav {
    z-index: 98;
    left: 0;
    top: 0;

    ul {
      margin: 0;
      padding: 30px 0 0;
      text-align: center;

      li {
        list-style: none;
        line-height: 90px;

        a {
          text-transform: capitalize;
          text-decoration: none;
          font-size: 24px;
          transition: all 250ms ease;

          &:hover {
            color: $evident-text01;
          }
        }
      }
    }
  }
}

main.evidence {
  padding-bottom: 0;
}

main {

  .block {
    margin: 30px 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &.loading {
    @extend %optimistic;
  }

  &.content {
    margin-top: $header-compact--height;
  }
}

.load-more {
  button {
    display: block;
    margin: 0 auto;
    margin-bottom: 45px;
  }
}

.content {
  &.loading {
    @extend %optimistic;
  }

  rock-back {
    a {
      color: $normal-text;
      text-decoration: none;
      display: inline-block;
      margin: 10px 0;
      font-size: 16px;
    }
  }

  &.wrapper,
  .wrapper {
    padding: 0;
  }

  article {
    text-align: left;

    .alignleft {
      text-align: left;
    }

    .aligncenter {
      text-align: center;
    }

    .alignright {
      text-align: right;
    }

    img {
      max-width: 100%;
      height: auto;
    }

    &.card {
      padding: 30px;
      text-align: left;

      .category {
        font-size: 14px;
        text-transform: uppercase;
        color: $basic01;
        margin-bottom: 30px;
      }

      h3 {
        font-size: 24px;
        line-height: 36px;
        font-weight: 400;
        // color: $constrast01;
        // letter-spacing: 1px;
        margin-bottom: 30px;
      }
    }

    .meta {
      text-align: center;

      img {
        border-radius: 50%;
      }

      h6 {
        font-weight: 400;
        font-size: 18px;
        text-transform: uppercase;
        margin: 5px 0 0;
      }

      p {
        margin-top: 10px;
        font-weight: 300;
        font-size: 18px;
      }
    }

    &.loading {
      @extend %optimistic;
    }
  }
}


footer {
  background: $lightGrey;
  font-size: 20px;
  line-height: 30px;

  &>.wrapper {

    article {
      text-align: center;

      div {
        margin-bottom: 30px;
      }
    }
  }


  &.credits {
    background: #AAAAAA;
    font-size: 16px;
    color: $black;

    .wrapper {
      padding: 1.5em;

      article {
        display: block;
      }
    }

    p {
      margin: 0;
      text-align: left;
    }
  }
}



// da inserire in '~hamburgers/_sass/hamburgers/hamburgers.scss'

.hamburger-box {
  width: 30px;
  height: 24px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 30px;
  height: 2px;
  background-color: $black;
  border-radius: 0;
}

.hamburger-inner::before {
  top: -8px;
}

.hamburger-inner::after {
  bottom: -8px;
}

header.main button.hamburger {
  top: -12px;
}